doctype html
html
  head
    title Users
    link(rel="stylesheet", href="/styles.css")
  body
    header
      h1 Book Swap
      nav
        a(href="/") Home
        a(href="/listings") Listings
        a(href="/users") Users

    .container
      h2.section-title Users
      p.small-note Browse users and view their profiles.

      if users.length
        each user in users
          .card
            h3= user.name
            p.meta Email: #{user.email}
            if user.bio
              p.meta Bio: #{user.bio}
            a.button-link(href=`/users/${user.id}`) View Profile
      else
        p No users found.
