doctype html
html
  head
    title Add a Book
  body
    h1 Add a Book
    form
      label Title:
      input(type="text")

      label Author:
      input(type="text")
      
      button(type="submit") Submit
